@import 'src/styles';

.subscribe {
  &__title {
    margin-bottom: 36px;
  }

  button {
    margin-left: 16px;
  }

  div {
    p + p {
      margin-top: 20px !important;
    }
  }

  form {
    @include flex(row, center, center, nowrap);
    margin-top: 40px;
  }
}
