@import 'src/styles';

.vault {
  position: relative;

  margin: auto;
  padding-top: 57px;
  padding-bottom: 24px;

  @include b(tablet) {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  &__row {
    @include flex(row, normal, center, nowrap);
    margin-top: 32px;
    @include b(tablet) {
      flex-direction: column;
    }

    &_details {
      margin-right: 40px;

      @include b(tablet) {
        margin-right: 0;
      }

      &_head {
        @include flex(row, center, space-between);
        margin-bottom: 18px;

        @include b(tablet) {
          @include flex(column, flex-start, flex-start);
        }
      }

      &_invite {
        position: relative;
        @include flex(row, center, center);

        @include b(tablet) {
          margin-top: 15px;
        }

        &_item {
          color: #32cdef;
          background: linear-gradient(90deg, #32cdef 0, #0964ec 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;

          &:hover {
            opacity: 0.65;
          }
        }

        &_tooltip {
          position: relative;

          margin-left: 9px;

          line-height: 0;

          &:hover {
            .vault__row_details_invite_tooltip_info {
              display: block !important;
            }
          }

          svg {
            cursor: pointer;
          }

          &_info {
            position: absolute;
            z-index: 99;
            top: 125%;
            left: -10px;

            padding: 12px;

            display: none;

            width: 240px;

            font-size: 14px;
            line-height: 1.4;
            letter-spacing: -0.03em;

            color: #fff;
            background: rgb(255 255 255 / 40%);
            border-radius: 15px;
            backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
          }
        }
      }

      &_text {
        margin-bottom: 24px;
      }
    }
  }

  &__footer {
    @include flex(row, flex-start, flex-start, nowrap);
    margin-top: 30px;

    svg {
      margin-right: 8px;
    }
  }

  &__last_block {
    margin-top: 40px;

    text-align: right;
    @include b(tablet) {
      margin-top: 16px;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;

      color: #0cfe32;
    }
  }
}
