@import 'src/styles/mixins';

.vault {
  position: relative;

  margin: auto;
  padding-top: 57px;
  padding-bottom: 24px;

  @include b(tablet) {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  &__row {
    @include flex(row, normal, center, nowrap);
    margin-top: 32px;
    @include b(tablet) {
      flex-direction: column;
    }

    &_details {
      margin-right: 40px;

      @include b(tablet) {
        margin-right: 0;
      }

      &_text {
        margin-bottom: 24px;
      }
    }
  }

  &__footer {
    @include flex(row, flex-start, flex-start, nowrap);
    margin-top: 30px;

    svg {
      margin-right: 8px;
    }
  }

  &__last_block {
    margin-top: 40px;

    text-align: right;
    @include b(tablet) {
      margin-top: 16px;
    }

    span {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;

      color: #0cfe32;
    }
  }
}
