@import 'src/styles';

.modal {
  position: relative;

  margin: auto;
  padding: 40px;

  width: 100%;
  max-width: 1000px;

  line-height: 1.4;

  background: #111328;
  border-radius: 10px;
  opacity: 0;
  box-shadow: 0 0 15px 1px #32cdef;

  transition: 0.35s;

  &_open {
    opacity: 1 !important;
  }

  @include b(tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }

  p,
  ul {
    margin: 1em 0;

    font-size: 14px;
  }

  a {
    text-decoration: underline;

    color: #32cdef;

    &:hover {
      color: #32cdef;
      opacity: 0.8 !important;
    }
  }

  ul {
    padding-left: 2rem;

    list-style: auto;
  }

  &_title {
    h2 {
      margin-bottom: 30px;

      font-size: 30px;
      line-height: 1.3;
      text-align: center;
    }
  }

  &_close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 0.5rem;

    line-height: 0;

    cursor: pointer;

    background: #ec0d93;
    border: 0;
    border-radius: 0 10px 0 0;
    outline: 0;

    transition: 0.35s;

    &:hover {
      background: #bc0a75;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  padding: 25px 20px;

  display: flex;
  overflow: hidden;
  overflow-y: auto;

  pointer-events: auto;

  background: rgb(21 31 50 / 60%);
  outline: 0;
  opacity: 1;

  transition: 0.3s all ease;
  backdrop-filter: blur(24px);
}
