@import 'src/styles/mixins';
@import 'src/styles/theme';

$bg-default: white;
$color-default: black;
$border-default: gray;

.button {
  box-sizing: border-box;
  width: fit-content;

  font-family: Montserrat, sans-serif;

  white-space: nowrap;
  text-decoration: none;

  cursor: pointer;

  background-color: transparent;
  border: none;

  transition: 0.35s;
  @include flex(row, center, center, nowrap);

  &.default {
    width: 180px;
    height: 59px;

    color: $color-white;
    background: rgb(255 255 255 / 12%);
    border-radius: 12px;
    filter: drop-shadow(0 5px 8px rgb(0 0 0 / 28%)) drop-shadow(0 20px 64px rgb(255 72 72 / 16%));

    &:hover,
    &:focus {
      background: $color-pink-gradient;
      box-shadow: 0 4px 8px rgb(0 0 0 / 25%), 0 9px 37px rgb(236 13 147 / 53%), 0 1px 0 #a20c5d;
    }
  }

  &.sm {
    width: 124px;
    height: 44px;
  }

  &.md {
  }

  &.lg {
  }

  &.filled {
    width: 180px;
    height: 59px;

    color: $color-white;
    background: $color-blue-gradient;
    background: linear-gradient(100.26deg, #32cdef 18.91%, #0964ec 136.75%);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%), 0 9px 37px rgb(13 105 236 / 53%), 0 1px 0 #0c4ba2;

    &:hover,
    &:focus {
      background: linear-gradient(100.26deg, #ef328d 18.91%, #ec0909 136.75%);
      box-shadow: 0 4px 8px rgb(0 0 0 / 25%), 0 9px 37px rgb(236 13 147 / 53%), 0 1px 0 #a20c5d;
    }
  }

  &.outline {
    &:hover,
    &:focus {
    }
  }

  &.disabled {
    &:hover,
    &:focus {
    }
  }
}
