@import 'src/styles/mixins';
@import 'src/styles/theme';

.form {
  width: 100%;
  max-width: 380px;
  flex-shrink: 0;

  @include b(tablet) {
    margin-top: 50px;

    max-width: unset;
  }

  &__group + &__group {
    margin-bottom: 16px;
  }

  &__tabs {
    margin-bottom: 12px;

    display: flex;

    div {
      padding: 12px 28px;

      font-size: 20px;
      line-height: 20px;

      cursor: pointer;

      color: rgb(255 255 255 / 60%);
      background: rgb(16 19 39 / 88%);
      border-radius: 12px;

      transition: 0.3s;

      &:hover {
        color: #fff;
        box-shadow: 0 4px 8px rgb(0 0 0 / 25%), 0 9px 37px rgb(50 205 239 / 53%), 0 1px 0 #32cdef;

        transform: scale(1.05);
      }
    }

    &_withdraw {
      margin-left: 12px;
    }

    &_active {
      color: $color-white !important;
    }
  }
}

.block + .block {
  margin-top: 12px;
}

.block {
  &__group {
    &_wrap {
      @include flex(row, center, space-between, nowrap);

      div:first-child {
        margin-right: 16px;
      }
    }
  }

  &__footer {
    margin-top: 24px;

    div:first-child {
      margin-bottom: 8px;
    }
  }
}

.button {
  margin-top: 24px;

  width: 100% !important;

  font-size: 14px;
  line-height: 20px;
}

.input {
  margin-top: 6px;
  margin-bottom: 16px;
}

.label {
  @include flex(row, center, space-between, nowrap);

  &__notification {
    background: linear-gradient(#ef328d, #ec0909);
    background-clip: text;
    opacity: 0.8;
    -webkit-text-fill-color: transparent;
  }
}
