@import 'src/styles';

.card {
  padding: 32px;

  display: block;

  background: $card-bg;
  border-radius: 12px;

  transition: 0.3s;

  &:hover {
    color: $color-text;
    box-shadow: 0 4px 8px rgb(0 0 0 / 25%), 0 9px 37px rgb(50 205 239 / 53%), 0 1px 0 #32cdef;

    transform: scale(1.05);
  }

  &__bages {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;

    &_bage {
      margin-right: 12px;
      padding: 6px 12px;

      font-size: 14px;

      color: $color-white;
      background: $bage-gradient;
      border-radius: 8px;
    }
  }

  &__subtitle {
    margin-bottom: 12px;

    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

    color: $color-white;
  }

  &__meta {
    @include flex(row, center, space-between);
    margin: 25px -10px 0;

    &_block {
      padding: 0 10px;
    }
  }
}
