@import "src/styles";

.card {
  background: $card-bg-2 !important;
  border-radius: 12px;
  padding: 16px !important;
  margin-bottom: 12px;

  &__text {
    margin-bottom: 12px;
  }

  &__title {
    @include flex (row, center, space-between);
    margin-bottom: 12px;

    &_icon {
      cursor: pointer;
      transition: .3s;
      &:hover {
        opacity: .65;
      }
    }
  }

  &__info {
    &_item {
      @include flex (row, center, space-between);
    }
    &_item + &_item {
      margin-top: 6px;
    }
  }
}
