@import 'theme';
@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Inconsolata', sans-serif;
  font-size: $font-size-default;
  font-weight: normal;
  line-height: $line-height-default;

  color: $color-white;
  background: $color-bg;

  span,
  div {
    font-feature-settings: 'liga' off;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;

  color: $color-link;

  transition: all 0.3s ease-in-out;

  &:hover,
  &:active {
    color: $color-white;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

a,
input,
textarea,
button {
  font-family: inherit;
}

.main_wrapper {
  position: relative;
  z-index: 0;

  overflow: hidden;

  min-height: 100vh;

  &::before {
    content: '';

    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background: url(../assets/img/pages-bg.jpeg) center no-repeat;
    background-size: cover;
  }
}

.page_wrapper {
  margin: 0 auto;
  padding: 0 1.25rem;

  width: 100%;
  max-width: 1230px;
  @include b(mobile) {
    padding: 0 16px;
  }
}

.modal-root {
  z-index: 100;

  overflow: hidden;

  .modal-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    height: 100%;

    background: rgb(0 0 0 / 80%);
  }

  .modal-wrap {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 50px 0;

    overflow: auto;

    width: 100%;

    outline: 0;
    @include flex(row, center, center);
  }
}

section {
  margin-top: 150px;
}

.title {
  margin-bottom: 28px;

  font-family: Exodar, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  text-shadow: 0 5px 3px rgb(0 0 0 / 95%), 0 4px 54px rgb(34 183 216 / 90%),
    -4px -4px 45px rgb(27 137 235 / 95%), 4px 4px 30px rgb(50 205 239 / 95%);

  color: #32cdef;

  @include b(tablet) {
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: 0.5px;
  }

  span {
    text-shadow: 0 5px 3px rgb(0 0 0 / 95%), 0 4px 54px rgb(216 34 78 / 90%),
      -4px -4px 45px rgb(235 27 39 / 95%), 4px 4px 30px rgb(239 50 73 / 95%);

    color: #ef328d;
  }
}

.text {
  text-shadow: 0 1px 13px rgb(255 255 255 / 55%), 0 4px 44px rgb(255 255 255 / 25%);
}

.text-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.text-descr {
  color: $color-text;
  font-size: 16px;
  line-height: 20px;
}

.sm {
  font-size: 20px;
  line-height: 28px;
}

.center {
  text-align: center;
}

.open {
  display: flex;
}

