$color-bg: #01041a;
$color-white: #fff;
$color-default: rgb(255 255 255 / 12%);

$color-blue-gradient: linear-gradient(100.26deg, #32cdef 18.91%, #0964ec 136.75%);
$color-pink-gradient: linear-gradient(100.26deg, #ef328d 18.91%, #ec0909 136.75%);

$color-link: rgb(255 255 255 / 60%);

$footer-bg: rgba(11, 14, 35, 0.8);
$footer-text-gradient: linear-gradient(90deg, #32cdef 0, #0964ec 100%);
$footer-text-color: #32cdef;

$icon-bg: rgb(255 255 255 / 12%);
