$color-bg: #01041a;
$color-white: #fff;
$color-default: rgba(255, 255, 255, 0.12);

$color-blue-gradient: linear-gradient(100.26deg, #32cdef 18.91%, #0964ec 136.75%);
$color-pink-gradient: linear-gradient(100.26deg, #ef328d 18.91%, #ec0909 136.75%);

$color-link: rgb(255 255 255 / 60%);
