@import 'src/styles';

.about {
  @include flex(column, center, center);

  h1 {
    margin: 140px 0 40px;

    font-size: 120px;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  &__buttons {
    @include flex(center, center);
    margin: 110px auto 0;

    max-width: 60%;

    a {
      margin-left: 24px;
    }
  }
}
