@import 'src/styles';

.strategy {
  @include flex(row, center, space-between, nowrap);
  padding: 60px 0 60px 60px;

  p + p {
    margin-top: 25px;
  }

  a {
    margin-top: 60px;
  }

  &__image {
    img {
      max-width: 425px;
    }
  }

  &__info {
    width: 100%;
    max-width: 580px;
  }
}
