@import 'src/styles/mixins';
@import 'src/styles/theme';

.general_card {
  margin-bottom: 12px;
  padding: 16px !important;

  background: $card-bg-2 !important;

  &__title {
    margin-bottom: 12px;
  }

  &__details {
    &:nth-child(2) {
      margin-top: 6px;
    }

    &_item {
      @include flex(row, center, space-between, wrap);
      gap: 10px;
    }

    &_tlv {
      position: relative;

      margin-top: 16px;

      height: 4px;

      background: #bcb6ba;
      border-radius: 60px;
      box-shadow: 0 8px 4px rgb(0 0 0 / 18%), 0 0 34px #18a6dd;

      div {
        position: absolute;
        top: 0;
        left: 0;

        height: 4px;

        background: #44d3f2;
        border-radius: 50px;
        box-shadow: 0 0 3px #32cdef, 0 0 4px #32cdef, 0 0 6px #32cdef, 0 0 4px #32cdef;
      }
    }
  }

  &__details + &__details {
    margin-top: 24px;
  }

  &__compare {
    position: relative;

    margin-top: 16px;
    margin-bottom: 22px;

    height: 4px;

    background: #bcb6ba;
    border-radius: 60px;
    box-shadow: 0 8px 4px rgb(0 0 0 / 18%), 0 0 34px #18a6dd;

    &_list {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: flex;

      border-radius: 60px;

      div {
        height: 4px;
        flex: 1;
      }

      div:first-child {
        background: #8b0000;
        border-radius: 50px 0 0 50px;
        box-shadow: 0 0 3px #8b0000, 0 0 4px #8b0000, 0 0 6px #8b0000, 0 0 4px #32cdef;
      }

      div:nth-child(2) {
        background: #c71585;
      }

      div:nth-child(3) {
        background: orange;
      }

      div:nth-child(4) {
        background: #ff0;
      }

      div:nth-child(5) {
        background: #f0f;
      }

      div:nth-child(6) {
        background: #6a5acd;
      }

      div:nth-child(7) {
        background: #00008b;
      }

      div:nth-child(8) {
        background: #00f;
      }

      div:nth-child(9) {
        background: #20b2aa;
      }

      div:nth-child(10) {
        background: #2f4f4f;
      }
    }
  }

  &__block {
    margin-top: 24px;
  }
}
