@import '/src/styles';

.lucky {
  @include flex(row, center, center, nowrap);

  &__inner {
    @include flex(row, center, space-between, nowrap);
    width: 100%;

    &_info {
      margin: auto;

      max-width: 500px;

      button {
        margin-top: 60px;
      }
    }

    &_img {
      img {
        max-width: 530px;
      }
    }
  }
}
