@import 'src/styles';

.sold {
  @include flex(row, center, space-between, nowrap);
  margin-top: 100px !important;
  padding: 0 60px;

  button {
    margin-top: 60px;
  }

  &__image {
    img {
      max-width: 420px;
      height: 451px;
    }
  }
}
