@import "src/styles/mixins";

.vault {
  &_header {
    @include flex(row, center, space-between);
    margin-bottom: 18px;

    @include b(tablet) {
      @include flex(column, flex-start, flex-start);
    }
  }

  &_invite {
    position: relative;
    @include flex(row, center, center);

    @include b(tablet) {
      margin-top: 15px;
    }

    &_item {
      color: #32cdef;
      background: linear-gradient(90deg, #32cdef 0, #0964ec 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &:hover {
        opacity: 0.65;
      }
    }

    &_tooltip {
      position: relative;

      margin-left: 9px;

      line-height: 0;

      &:hover {
        .vault_invite_tooltip_info {
          display: block !important;
        }
      }

      svg {
        cursor: pointer;
      }

      &_info {
        position: absolute;
        z-index: 99;
        top: 125%;
        left: -10px;

        padding: 12px;

        display: none;

        width: 240px;

        font-size: 14px;
        line-height: 1.4;
        letter-spacing: -0.03em;

        color: #fff;
        background: rgb(255 255 255 / 40%);
        border-radius: 15px;
        backdrop-filter: blur(7px);
      }
    }
  }
}
