@import 'src/styles';

.modal_wallet {
  max-width: 440px;
  position: relative;
  transition: 0.3s;
  padding: 32px;
  width: 100%;
  margin: auto;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 12px;
  line-height: 1.4;

  @include b(tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    @include flex(row, center, space-between, nowrap);
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    border: 0;
    outline: 0;
    line-height: 0;
    padding: 0;
    cursor: pointer;

    svg > * {
      opacity: 0.4;
      transition: 0.35s;
    }

    &:hover {
      svg > * {
        opacity: 1;
        fill: red;
        transition: 0.35s;
      }
    }
  }

  &__list {
    margin: 24px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 12px 1px rgb(50 205 239 / 80%);
    }

    &_name {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.6);
    }

    &_logo {
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__footer {
    text-align: center;
  }

  &__new {
    margin-bottom: 4px;
    color: $color-text;
  }

  &__learn {
    color: #32cdef;
    background: linear-gradient(90deg, #32cdef 0, #0964ec 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #1e59af;

    &:hover {
      opacity: 0.6;
    }
  }
}

.overlay {
  position: fixed;
  display: flex;
  padding: 25px 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  outline: 0;
  overflow: hidden;
  overflow-y: auto;
  background: rgba(21, 31, 50, 0.6);
  backdrop-filter: blur(24px);
  transition: 0.3s all ease;
  opacity: 1;
  pointer-events: auto;
}
