@import 'src/styles/mixins';
@import 'src/styles/theme';

.modal_wallet {
  position: relative;

  margin: auto;
  padding: 32px;

  width: 100%;
  max-width: 440px;

  line-height: 1.4;

  background: rgb(255 255 255 / 6%);
  border-radius: 12px;

  transition: 0.3s;

  @include b(tablet) {
    padding-right: 20px;
    padding-left: 20px;
  }

  &__title {
    @include flex(row, center, space-between, nowrap);
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;

    padding: 0;

    line-height: 0;

    cursor: pointer;

    border: 0;
    outline: 0;

    svg > * {
      opacity: 0.4;

      transition: 0.35s;
    }

    &:hover {
      svg > * {
        opacity: 1;
        fill: red;

        transition: 0.35s;
      }
    }
  }

  &__list {
    margin: 24px 0;
  }

  &__item {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    background: rgb(255 255 255 / 6%);
    border-radius: 12px;

    transition: 0.3s;

    &:not(:first-child) {
      margin-top: 8px;
    }

    &:hover {
      box-shadow: 0 0 12px 1px rgb(50 205 239 / 80%);

      transform: scale(1.02);
    }

    &_name {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.5;

      color: rgb(255 255 255 / 60%);
    }

    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 24px;
    }
  }

  &__footer {
    text-align: center;
  }

  &__new {
    margin-bottom: 4px;

    color: $color-text;
  }

  &__learn {
    color: #32cdef;
    background: linear-gradient(90deg, #32cdef 0, #0964ec 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    border-bottom: 1px solid #1e59af;

    &:hover {
      opacity: 0.6;
    }
  }
}
