@import 'src/styles/variables';
@import 'src/styles/mixins';
@import '/src/styles/theme';

@keyframes goDown {
  from {
    transform: translateY(-1000px);
  }

  to {
    transform: translateY(0);
  }
}

.header {
  padding: 16px 0;

  width: 100%;

  background: transparent;

  transition: 0.35s;
  @include flex(row, center, space-between, nowrap);

  @include b(tablet) {
    position: fixed;
    z-index: 9999999;
    left: 50%;

    padding-right: 1.25rem;
    padding-left: 1.25rem;

    transform: translateX(-50%);

    &_background {
      background: rgb(16 19 39 / 100%) !important;
    }
  }

  &__nav {
    @include flex(row, center, center, nowrap);
    width: 100%;

    a + a {
      margin-left: 50px;
    }

    &_mobile {
      &_logo {
        display: none;
        @include b(tablet) {
          display: block;
        }
      }
      @include b(tablet) {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        left: 0;

        padding: 10px 0 30px;

        display: none;
        justify-content: space-between;

        height: 0;

        text-align: center;

        background: #000;
        border-bottom: 2px solid #32cdef;
        box-shadow: 0 2px 40px 4px #32cdef;

        transition: height ease 0.6s;
        flex-flow: column;
      }

      &_socials {
        display: none;
        @include b(tablet) {
          @include flex(row, center, center);

          a + a {
            margin-left: 16px;
          }

          a {
            width: 40px;
            height: 40px;

            background: rgb(255 255 255 / 4%);
            border-radius: 12px;
            @include flex(row, center, center);

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }

      &_nav {
        display: none;
        @include b(tablet) {
          margin: auto;
          @include flex(column, center, center);

          a {
            padding: 15px;

            font-size: 20px;
          }
        }
      }
    }

    @include b(tablet) {
      display: none;
    }
  }

  &__navbar {
    @include flex(row, center, space-between);
    width: 100%;
    max-width: 200px;

    @include b(tablet) {
      display: none;
    }

    &_logo {
      z-index: 101;
      @include b(tablet) {
        display: none;
      }
    }
  }

  &__burger {
    z-index: 101;

    display: none;
    @include b(tablet) {
      display: block;
    }
  }

  &__control {
    button {
      height: 44px !important;

      font-size: 14px;

      color: rgb(255 255 255 / 40%) !important;

      &:hover {
        color: $color-white !important;
      }
    }
  }
}

.user {
  @include flex(row, center, space-between, nowrap);
  cursor: pointer;

  &__logo {
    margin-right: 12px;

    width: 36px;
    height: 36px;

    background: rgb(255 255 255 / 12%);
    border-radius: 12px;
    @include flex(row, center, center);
  }

  &__info {
    font-weight: 700;

    &_balance {
      color: $color-text;
    }
  }
}

.open_mobile {
  display: flex;

  height: 100vh;

  transition: height ease 0.6s;
}
