@import 'src/styles';

.footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  padding: 32px 1.25rem;

  background: $footer-bg;

  @include b(tablet) {
    position: initial;
  }

  &__inner {
    @include flex(row, center, space-between, nowrap);
    margin: 0 auto;

    max-width: 1230px;

    @include b(tablet) {
      flex-direction: column-reverse;
    }

    &_socials {
      @include flex();

      &_item {
        width: 36px;
        height: 36px;

        background: $icon-bg;
        border-radius: 12px;

        @include flex(row, center, center);

        svg {
          width: 22px;
          height: 22px;
        }

        &::before {
          content: '';

          position: absolute;
          top: 0;
          right: 0;

          visibility: hidden;

          width: 100%;
          height: 100%;

          background: $color-blue-gradient;
          border-radius: 12px;
          opacity: 0;

          transition: 0.35s;
        }

        &:not(:last-child) {
          margin-right: 16px;
        }

        &:hover {
          background: $color-blue-gradient;

          transform: scale(1.1);

          svg > path {
            fill: $color-white;
          }
        }
      }
    }

    &_links {
      a {
        text-decoration: underline;

        &:hover {
          text-decoration: underline;

          color: $footer-text-color;
          background: $footer-text-gradient;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      a + a {
        margin-left: 32px;
      }
    }

    &_madeby {
      color: $color-link;

      a {
        color: $color-white;
      }
      @include b(tablet) {
        display: none;
      }

      &_mobile {
        display: none;

        color: $color-link;

        a {
          color: $color-white;
        }
        @include b(tablet) {
          display: block;
        }
      }
    }

    &_copyright {
      text-align: center;

      color: $color-link;
    }
  }

  @include b(tablet) {
    div:not(:first-child) {
      margin-bottom: 32px;
    }
  }
}
